<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Text classification</title>
    <link rel="stylesheet" href="../static/css/master.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/form_style.css">
    <script src="..\static\js\jquery-3.4.1.min.js"></script>
    <script src="..\static\js\script.js"></script>

  </head>
  <body>
    <div class="navbar">
      Hate and offense speech detection
    </div>
    <div class="container">
      <div class="sidetoside resultText">
        <div class="container">
          <p id="result_text">

          </p>
          <span id="hate_value">

          </span>
          <span id="offense_value">

          </span>
        </div>
      </div>
      <div class="sidetoside uploadImage">
        <div class="container">
          <div class="imgContainer">
            <img src="" alt="">
          </div>

          <div id="imgForm">
            <textarea id="comment" placeholder="Put your text here..."></textarea>
            <button id = "process">Process</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
